<div class="container bookDetailedView">
  <div class="bookDetails">
    <h1>{{result.volumeInfo.title}}</h1>
    <h4>{{result.volumeInfo.subtitle}}</h4>
    {{#if result.volumeInfo.imageLinks.thumbnail}}
    <img src="{{result.volumeInfo.imageLinks.thumbnail}}" alt="book cover">
    {{else}}
    <img class="book-cover-placeholder" src="/images/placeholder-image.png" alt="missing book cover">
    {{/if}}
    <p>
      <span class="info-key">Authors: </span>
      {{#each result.volumeInfo.authors}}
      <span class="info-value">{{this}}</span>
      {{/each}}
    </p>
    <p>
      <span class="info-key">Language: </span><span class="info-value">{{result.volumeInfo.language}}</span>
    </p>
    <p>
      <span class="info-key">Categories:</span>
      {{#each result.volumeInfo.categories}}
      <span class="info-value">{{this}}</span>
      {{/each}}
    </p>
    <span class="info-key">Summary</span>
    <div>{{{result.volumeInfo.description}}}</div>
    <p>
      {{#each result.volumeInfo.industryIdentifiers}}
      <span class="info-key">{{this.type}}: </span> <span class="info-value">{{this.identifier}}</span>
      <br>
      {{/each}}
    </p>
    {{#if user}}
    <form action="/bookDetails/{{result.id}}" method="POST">
      <button type="submit" class="add-to-your-books-btn">Add to your books</button>
    </form>
    {{/if}}
    {{#each owners}}
    <div class="addresses hidden">
      {{this.address.street}} {{this.address.number}}, {{this.address.PLZ}}
      |{{this.username}}|{{this.id}}
    </div>
    {{/each}}
  </div>
  <div class="bookLocations">
    <div id="map"></div>
    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script src="/javascripts/main-map.js"></script>
    <script>
      // add pins/markers
      var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
      document.querySelectorAll(".addresses").forEach(div => {
        let address = div.innerText.split("|")[0];
        let username = div.innerText.split("|")[1];
        let profile = div.innerText.split("|")[2];
        mapboxClient.geocoding
          .forwardGeocode({
            query: address,
            autocomplete: false,
            limit: 1
          })
          .send()
          .then(function (response) {
            if (
              response &&
              response.body &&
              response.body.features &&
              response.body.features.length
            ) {
              var feature = response.body.features[0];
              var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
                `<strong>Owner: ${username} </strong> <br> ${address} <br>
                  <a href="/profile/${profile}">View profile</a>`
              );

              new mapboxgl.Marker()
                .setLngLat(feature.center)
                .setPopup(popup)
                .addTo(map);
            }
          });
      });

    </script>
  </div>
</div>