<div class="container bookDetailedView">
  <div class="bookDetails">
    <h1>{{volumeInfo.title}}</h1>
    <h4>{{volumeInfo.subtitle}}</h4>
    {{#if volumeInfo.imageLinks.thumbnail}}
    <img src="{{volumeInfo.imageLinks.thumbnail}}" alt="book cover">
    {{else}}
    <img class="book-cover-placeholder" src="/images/placeholder-image.png" alt="missing book cover">
    {{/if}}
    <p>
      <span class="info-key">Authors: </span>
      {{#each volumeInfo.authors}}
      <span class="info-value">{{this}}</span>
      {{/each}}
    </p>
    <p>
      <span class="info-key">Language: </span><span class="info-value">{{volumeInfo.language}}</span>
    </p>
    <p>
      <span class="info-key">Categories:</span>
      {{#each volumeInfo.categories}}
      <span class="info-value">{{this}}</span>
      {{/each}}
    </p>
    <span class="info-key">Summary</span>
    <div>{{{volumeInfo.description}}}</div>
    <p>
      {{#each volumeInfo.industryIdentifiers}}
      <span class="info-key">{{this.type}}: </span> <span class="info-value">{{this.identifier}}</span>
      <br>
      {{/each}}
    </p>

    <button class="add-to-your-books-btn">Add to your books</button>
  </div>
  <div class="bookLocations">
    <div id="map"></div>
    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script src="/javascripts/book-details-map.js"></script>
  </div>
</div>