<div class="container">
  <div class="userInfo">
    <h1>{{username}}</h2>
      <p>{{address.street}} {{address.number}}, {{address.PLZ}}</p>
  </div>
  <h2>Book Collection:</h2>
  <div class="booksContainer">
    {{#each books}}
    <a href="/bookDetails/{{this.googleId}}">
      <div class="bookCard">
        <h2>{{this.title}}</h1>
          {{#if this.coverImageURL}}
          <img src="{{this.coverImageURL}}" alt="book cover">
          {{else}}
          <img class="book-cover-placeholder" src="/images/placeholder-image.png" alt="missing book cover">
          {{/if}}
          {{#each this.authors}}
          <h3>{{this}}</h3>
          {{/each}}
      </div>
    </a>
    {{/each}}
  </div>
</div>