<div class="container">
  <div class="userInfo">
    <h1>{{result.username}}</h2>
      <p>{{result.address.street}} {{result.address.number}}, {{result.address.PLZ}}</p>
  </div>
  <div class="profileBookSearch">
    <form action="/booksApiCall" method="get">
      <label for="booksearch">
        <h2>Add books to your collection</h2>
      </label>
      <input type="text" name="bookSearch" id="bookSearch" placeholder="Enter book title">
      <button type="submit">Search</button>
    </form>
  </div>
  <h2>Book Collection:</h2>
  <div class="profileBooksContainer">
    {{#each result.books}}
    <div class="profileBooks" id="{{this.googleId}}">
      <a class="big-link" href="/bookDetails/{{this.googleId}}">
        <div class="bookCard">
          <h2>{{this.title}}</h1>
            {{#if this.coverImageURL}}
            <img src="{{this.coverImageURL}}" alt="book cover">
            {{else}}
            <img class="book-cover-placeholder" src="/images/placeholder-image.png" alt="missing book cover">
            {{/if}}
            {{#each this.authors}}
            <h3>{{this}}</h3>
            {{/each}}
        </div>
      </a>
      {{#if ../showDelete}}
      <div class="hidden-message hidden">
        <h3>This book is lended to someone.</h3>
        <a id="return-link" href="/profile/{{../result._id}}/{{this._id}}/return"><button class="delete-borrow"
            type="submit">Mark as
            available</button></a>
      </div>
      <a id="delete-link" href="/bookDetails/{{this._id}}/delete"><button class="delete-borrow"
          type="submit">Delete</button></a>
      {{else}}
      <a id="borrow-link" href="/contact/{{../result._id}}/{{this.googleId}}"><button class="delete-borrow"
          type="submit">Borrow</button></a>
      {{/if}}
    </div>
    {{/each}}
  </div>
</div>

<script>
  const unavailableIds = `{{unavailableIds}}`;
  const isSelfUser = `{{showDelete}}`;

  unavailableIds.split(",").forEach(unavailableId => {
    let bookDiv = document.getElementById(unavailableId);
    if (bookDiv && isSelfUser == 'false') {
      bookDiv.classList.add("unavailable-book");
    }
    else {
      bookDiv.getElementsByClassName("hidden-message")[0].classList.remove("hidden");
    }
  });
</script>